html{
    box-sizing:border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body{
    background-color: #ddd;
    margin: 0px auto;
    width:100%;
}

.body__container{
    max-width: 800px;
    margin: 0px auto;
    overflow-x: auto;
}