html{
    box-sizing:border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body{
    background-color: #ddd;
    background-size:auto;
    margin: 0px auto;
    width:100%;
}

.body__background{
    background-image: url("../images/currency-background.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position:center;
    background-repeat: no-repeat;
}

.body__container{
    max-width: 1000px;
    margin: 0px auto;
    overflow-x: auto;
}