.table{
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-bottom: 50px;
    margin-left:auto; 
    margin-right:auto;
    overflow-x:auto;
}

.table__hidden{
    display: none;
}

.table__cell {
    border: 2px solid;
    text-align: center;
    padding: 20px;  
}

.table__cellHeader{
    background-color: rgb(62, 172, 62);
    color:white;
    border-color:black;
}

.table__cellHeader:hover{
    background-color: rgb(42, 114, 42);
}

.table__row{
    background-color:rgb(223, 219, 219);
}

.table__row:nth-child(even){
    background-color: rgb(197, 196, 196);
}

.table__row:hover{
    background-color: rgb(134, 134, 134);
}

.table__caption{
    font-size: 10px;
    background-color:rgb(197, 196, 196);
}